.about {
  @include flex(flex, column, center, center);
  margin: 45px 0;
}

.about-heading h2 {
  padding: 30px;
}

.about p {
  color: $black;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  width: 90%;
}
